.produto {

    &__produto-imagem {
        width: 100%;
    }

    &__produto-nome {
        font-size: 1.2em;
        margin: 8px 0;
    }

    &__produto-descricao {
        color: gray;
    }

    &--is-inactive {
        border: 2px solid gold;
        padding: 8px;
        background-color: #ffff42;
    }
    
}